html {
    font-size: 20px;
    font-family: "Arial Unicode MS";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.img {
    width: 95px;
    height: 95px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 4px solid #54b2a8;

}
#anim {
    width: 80px;
    height: 80px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 4px solid #54b2a8;
   /* border-top-color: #0a162d;
    border-bottom-color: #0a162d;*/

}

/* start header*/
body > header {
    width: 100%;
    background: #0a162d !important;
    height: 120px;
    box-shadow: 0px 3px 2px 3px #0a162d;
    position: fixed;
    z-index: 1;
}


body > header > nav {
    position: absolute;
    right: 107px;
    top: 17px;
}

body > header > div {
    position: relative;
    left: 40px;
    top: 12px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    background: #0a162d;

}




body > header > nav > ul {
    margin-top: 0px;
    list-style: none;
}

body > header > nav > ul > li {
    color: white;
    display: inline-block;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}

/*==========*/


/* end header*/

/*main start*/

main {
    z-index: -1;
    position: relative;

}


main > section {
    padding: 100px;
}


a {
    text-decoration: none;
}
span {
    color: #54b2a8;
}
.cta {
    /*cursor: pointer;*/
    display: inline-block;
    padding: 10px 10px;
  /*  position: relative;*/
    bottom: 110px;
    color: #54b2a8;
    background-color: transparent;
    border: 2px solid #54b2a8;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color:#54b2a8;
    background-color:#54b2a8:
}
.container {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

.title {
     font-size: 4rem;
     font-weight: 300;
     color: #0a162d;
     margin-bottom: 40px;
     text-transform: uppercase;
     letter-spacing: .2rem;
     text-align: center;
}
.shadow{
    width:80%
    padding:10px;
    text-align:center;
    border-radius:10px;
    padding:30px;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:0 0 18px 0 #54b2a8;
}

#hello {
    background-image: url("../assests/img/MY.png");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hello .container > div {
    top: 150px;
    position: relative;
    left: 260px;

}

#hello::after {
    /*content: ;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0a162d;
    opacity: 0.7;
    z-index: -1;
}


#hello h1 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    bottom: 146px;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hello h1:nth-child(1) {
    animation-delay: 1s;
}

#hello h1:nth-child(2) {
    animation-delay: 2s;
}

#hello h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;

}

#hello h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #54b2a8;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hello h1:nth-child(1) span {
    animation-delay: .5s;
}

#hello h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hello h1:nth-child(3) span {
    animation-delay: 3s;
}





/*start projects section*/
#projects {

}


#projects .container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    /*padding: 2px 0;*/
}

#projects .project_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}


#projects .myProject {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 10px 5%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

#projects .myProject ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #bfece5 1%, #218179 100%);
    z-index: -1;
    opacity: .8;

}


#projects .myProject .icons {
    height: 80px;
    width: 80px;
    margin-bottom: 120px;
}

#projects .myProject h1 {
     font-size: 2rem;
     color: white;

     position:absolute;
     top:60;
     bottom:10;
     left:0;
     right:0;
     margin:auto;

     text-transform: uppercase;
     color: transparent;
     animation:section_text_reveal .4s ease forwards;
     animation-delay: 1s;
}


#projects .myProject p {
    font-size: 1.2rem;
    color: #0a162d;
    margin-bottom: 10px;
    line-height: 1.9rem;
}



/*End projects section*/

/*start assignment section*/
#assignment {

}


#assignment .container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
  /*  padding: 2px 0;*/
}


#assignment .assignment_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:40px;
}


#assignment .myAssignment {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 10px 5%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

#assignment .myAssignment ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #bfece5 1%, #218179 100%);
    z-index: -1;
    opacity: .8;

}

#assignment .myAssignment .icons {
    height: 80px;
    width: 80px;

    margin-bottom: 150px;


}

#assignment .myAssignment h1 {
    font-size: 2rem;
    color: white;

   position:absolute;
    top:70;
    bottom:10;
     left:0;
     right:0;
     margin:auto;

    text-transform: uppercase;

     color: transparent;
        animation:section_text_reveal .4s ease forwards;
        animation-delay: 1s;

}


#assignment .myAssignment p {
    font-size: 1.2rem;
    color: #0a162d;
    margin-bottom: 10px;
    line-height: 1.9rem;
}



/*End assignment section*/


/*start service section*/
#service {

}


#service .container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    /*padding: 2px 0;*/
}


#service .service_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}


#service .myServices {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 10px 5%;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

#service .myServices ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #bfece5 1%, #218179 100%);
    z-index: -1;
    opacity: .8;

}

#service .myServices .icons {
    height: 80px;
    width: 80px;
    margin-bottom: 120px;


}

#service .myServices h1 {
     font-size: 2rem;
    color: white;

    position:absolute;
     top:70;
     bottom:10;
      left:0;
      right:0;
      margin:auto;

     text-transform: uppercase;

    color: transparent;
    animation:section_text_reveal .4s ease forwards;
    animation-delay: 1s;

}



#service .myServices p {
    font-size: 1.2rem;
    color: #0a162d;
    margin-bottom: 10px;
    line-height: 1.9rem;
}


/*End service section*/

/*start About section*/
#about .container{
        flex-direction:column-reverse;
        text-align:center;
        max-width:1200px;
        margin:0 auto;


}
#about .about-div{
    width:80%
    padding:10px;
    text-align:center;
    border-radius:10px;
    padding:30px;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:0 0 18px 0 #54b2a8;

}
#about .col-left{
    width:250px;
    height:360px;
}
#about .col-right{
    width:100%;

}
#about .col-right h2{
   font-size:2.5 rem;
   font-weight:700;
   color: #0a162d;
   letter-spacing:.2rem;
   margin-bottom:10px;


}
#about .col-right p{
    margin-bottom:20px;
}

#about .col-right .cta{
    color:#0a162d;
    margin-bottom:10px;
    padding:10px 20px;
    font-size:2rem;
     border:6px solid #54b2a8;
}
#about .col-left .about-img img{
    height:100%;
    width:100%;
    border:10px solid white;
    position:relative;
}
#about .col-left .about-img img::after{
    content:'';
    position:absolute;
    left:-33px;
    top:19px;
    height:98%;
    width:98%;
    border: 7px solid #0a162d;
    z-index:-1;


}

/*End About section*/

/*Start Contact section*/
#contact .container{
    flex-direction:column;
    max-width:1200px;
    margin:auto;
}
#contact .contacts{
    width:100%;
}
#contact .contact{
    width:80%
    padding:10px;
    text-align:center;
    border-radius:10px;
    padding:30px;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:0 0 18px 0 #54b2a8;

}

#contact .icon{
    width:70px;
    margin: 0 auto;
    margin-bottom:10px;
}
#contact .contact-info h1{
    font-size:2.5 rem;
    font-weight:500;
    margin-bottom:5px;
}
#contact .contact-info h2{
    font-size:1.3rem;
    font-weight:500;
    line-height:2rem;
}


/*End Contact section*/

/*main end*/

/* Start footer*/
#footer .container{
    min-height:200px;
    flex-direction:column;
    padding-top:50px;
    padding-bottom:10px;
    background-color:#0a162d;

}
#footer .img-div{

    position: relative;
    left: 0px;
    top: 0px;
    bottom:0px;
    right:0px;
    margin:auto;
    width: 100px;
    height: 100px;
    font-size: 20px;
  /*  background: #0a162d;*/

}
#footer h2{
    color:#54b2a8;
    font-size:1.5rem;
    font-weight:500;
    font-spacing:0.1 rem;
    margin-top:10px;
    margin-bottom:10px;
     font-family: 'Dancing Script', cursive;
}
#footer .social-icons{
    display:flex;
    margin-bottom:30px;

}
#footer .social-icon{
    height:70px;
    width:70px;
    margin:0 10px;
}
#footer .social-icon img{
    filter:grayscale(1);
    transition: .3s ease filter;

}
#footer .social-icon:hover img{
    filter:grayscale(0);
}
#footer p{
    color:#54b2a8;
    font-size:1.3rem;
     font-family: 'Dancing Script', cursive;
    }
/* End footer*/

#animtLogo {
    width: 80px;
    height: 80px;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    border-radius: 100%;
    position: fixed;
    top: 420px;
    left: 1100px;
    right: 0;
    bottom: 40px;
    margin: auto;
    z-index: 30;

}
#sectionAnimation1{
    position: relative;
     top:1300px;
     left: 0px;
     right: 1100;
     bottom: 0px;
     background-color:black;
     animation-name: mySectionAnimation;
    animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-play-state: running;
     animation-direction: alternate;
     animation-fill-mode: backwards;


}
#sectionAnimation2{

    position: relative;
     top:1350px;
     left: 0px;
     right: 1100;
     bottom: 0px;
     background-color:black;
     animation-name: mySectionAnimation;
    animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-play-state: running;
     animation-direction: alternate;
     animation-fill-mode: backwards;


}
#sectionAnimation3{

     position: relative;
     top:1350px;
     left: 0px;
     right: 1100;
     bottom: 0px;
     background-color:black;
     animation-name: mySectionAnimation;
    animation-duration: 10s;
     animation-iteration-count: infinite;
     animation-play-state: running;
     animation-direction: alternate;
     animation-fill-mode: backwards;


}


/*start key frame*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #54b2a8;
        font-weight: 500;
    }
}
@keyframes section_text_reveal{
    100% {
           color: black;
           font-weight: 500;
       }
}


@keyframes myanimation {
    from {
         margin-bottom: 0px;
    }
    to {
        margin-bottom: 200px;
        transform: rotate(360deg);
    }
}

@keyframes mySectionAnimation {
    from {
   top: 400px;
}
    to {

     bottom :0px;

    }
}

/*end key frame*/

/*start media query for tablet*/

@media only (min-width:768px) and (max-width:1024 px){
    .cta{
        font-size:2.5rem;
        padding:20px 60px;
    }
    h1.title{
        font-size:8rem;
    }
    #hello h1{
        font-size:6rem;
    }
    #service .service_bottom .myServices{
        flex-basis:45%;
        margin:2.5%;

    }
    #projects .project_bottom{
        height:400px;
        margin:0;
        width:100%;
        border-radius:0;
        flex-direction:row;
    }
    #projects .all_project .myProject{
        height:100%;
    }
    #about .about{
        flex-direction:row;
    }
    #about .col-right{
     text-align:left;
     padding:30px;

    }
    #about .col-right h1{
    text-align:left;
    }

}

/*end media query for tablet*/
